@charset "UTF-8";
/*========= base ==========*/
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "遊ゴシック",  YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333333;
  line-height: 2.0;
}

h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100px;
  vertical-align: bottom;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  opacity: 0.6;
}

section {
  margin-bottom: 120px;
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
}

/*========= header ==========*/
.header-nav {
  height: 100px;
  /*flex➡横並び*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*background: rgba(255, 255, 255);
    transition: 3s ease-out;*/
  /*固定ヘッダー*/
  /*position: fixed;*/
}

.header-nav h1 {
  position: relative;
}

.header-nav h1:after {
  content: 'ChildCare Web Creater Salon';
  color: gray;
  /*デフォルトが16px設定となっているので、
            1remで10pxへ設定*/
  font-size: 1rem;
  /*改行*/
  display: block;
  position: absolute;
  text-align: center;
  /*top: 0;*/
  /*真ん中に位置を指定したいときは左右を0にする*/
  left: 0;
  right: 0;
}

.header {
  width: 100%;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav ul li {
  margin-right: 50px;
}

/*========= footer ==========*/
footer {
  width: 100%;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul li {
  margin-right: 50px;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav .address {
  position: relative;
  left: 10px;
}

.footer-nav .address p {
  line-height: 1.8;
  margin-bottom: 30px;
}

.copyright {
  color: white;
  background-color: #333;
}

.copyright p {
  font-size: 0.75rem;
  text-align: center;
  margin: 0;
  line-height: 100px;
}

.subvisual {
  margin-bottom: 120px;
  background-image: url(../images/子供を抱く母.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

.subvisual h1 {
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  line-height: 200px;
  font-weight: bold;
}

.childcare-greeting .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.childcare-greeting .contents figure {
  width: 50%;
}

.childcare-greeting .contents figure img {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  width: 100%;
  display: block;
  margin-bottom: 50px;
}

.content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.childcare-profile {
  margin-bottom: 120px;
}

.childcare {
  /*----------------------------------------------------
    変数：背景:薄いグレイ
        : ヘッダーのライン白
    ----------------------------------------------------*/
  width: 100%;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #e8e7e7;
}

.childcare th {
  background-color: #e8e7e7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  width: 30%;
  line-height: 1.5em;
  text-align: left;
  border-bottom: 1px solid #fff;
}

/*------------------------------------------------
ネストしすぎて可読性が下がるため、th tdは分けて記述
なおかつ、td要素が反映されなかった為、分割
デベロッパーツールで確認したが解決できず
------------------------------------------------*/
.childcare td {
  /*----------------------------------------------------
    変数：ボーダーライン:薄いグレイ
    ----------------------------------------------------*/
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  border-bottom: 1px solid #e8e7e7;
  line-height: 1.5em;
}

/* ========= work-description01(サブビジュアル) ========== */
/*左側の指定*/
.work-description01 {
  margin-bottom: 120px;
}

.work-description01 dl {
  width: 100%;
  position: relative;
}

.work-description01 dl dt img {
  width: 60%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*右側の指定*/
.work-description01 {
  /*--------変数宣言--------*/
  /*--------/変数宣言-------*/
}

.work-description01 dd {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 40%;
  left: 40%;
  color: #333;
  padding: 60px;
  z-index: 2;
}

.work-description01 dd h2 {
  text-align: center;
}

.work-description01 dd h2::before {
  content: 'Personal goals';
  color: rgba(175, 157, 157, 0.3);
  font-size: 2em;
  display: block;
}

/* ========= work-description02(サブビジュアル) ========== */
/*右側の指定*/
.work-description02 {
  margin-bottom: 120px;
}

.work-description02 dl {
  width: 100%;
  position: relative;
}

.work-description02 dl dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.work-description02 dl dt img {
  width: 60%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*左側の指定*/
.work-description02 {
  /*--------変数宣言--------*/
  /*--------/変数宣言-------*/
}

.work-description02 dd {
  background-color: rgba(255, 255, 255, 0.6);
  color: #333;
  position: absolute;
  padding: 60px;
  top: 40%;
  z-index: 2;
}

.work-description02 dd h2 {
  text-align: center;
}

.work-description02 dd h2::before {
  content: 'Morning Activity';
  color: rgba(175, 157, 157, 0.3);
  font-size: 2em;
  display: block;
}

/*左側の指定*/
.work-description03 {
  margin-bottom: 120px;
}

.work-description03 dl {
  width: 100%;
  position: relative;
  right: 0;
}

.work-description03 dl dt img {
  width: 60%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*右側の指定*/
.work-description03 {
  /*--------変数宣言--------*/
  /*--------/変数宣言-------*/
}

.work-description03 dd {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  top: 40%;
  left: 40%;
  padding: 60px;
}

.work-description03 dd h2 {
  text-align: center;
  text-align: center;
}

.work-description03 dd h2::before {
  content: 'Study Report';
  color: rgba(175, 157, 157, 0.3);
  font-size: 2em;
  display: block;
}

/* =============form(お問い合わせ)============= */
.form dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  border-bottom: 1px dotted #676767;
  /*最初のdatelistに対してborder*/
}

.form dl:first-of-type {
  border-top: 1px dotted #676767;
}

/*入力項目の要素のスタイル指定*/
.form {
  /*変数宣言*/
}

.form dd input, .form select, .form textarea {
  font-size: 1rem;
  color: #777;
  border: 1px solid #555;
  background-color: #f5f5f5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form dt {
  width: 300px;
  padding: 20px 0 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1em;
}

.form dt dd {
  width: calc(100% - 300px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form dd input, select {
  line-height: 60px;
  height: 60px;
  padding: 0 20px;
}

.form dd textarea {
  height: 140px;
  line-height: 2em;
  padding: 20px;
}

dl.name dd {
  padding: 0 0 0 25px;
}

dl.name dd span {
  margin: 0 20px 0 0;
}

dl.name input {
  width: 350px;
}

dl.name input:first-of-type {
  margin: 0 20px 0 0;
}

dl.frigana dt {
  width: 300px;
  padding: 20px 0 20px 20px;
}

dl.frigana dd {
  padding: 0 0 0 10px;
}

dl.frigana dd span {
  margin: 0 20px 0 0;
}

dl.frigana input {
  width: 350px;
}

dl.frigana input:first-of-type {
  margin: 0 20px 0 0;
}

.childcare-map {
  /*marginを0にすることでフッターとの余白を空け過ぎない対処のため記述*/
  margin-bottom: 0px;
}
/*# sourceMappingURL=style.css.map */